.bg-color {
	background-color: #0a192f;
}

.link-width {
	width: 120px;
}

.mono {
	font-family: monospace;
	font-size: 15px;
}

.col-green {
	color: #64ffda;
}

.col-dark-text {
	color: #a8b2d1;
}

.pt-100 {
	padding-top: 100px;
}

.socials {
	left: 3%;
	width: 30px;
}

.email {
	right: 3%;
	width: 30px;
}

.rot-90 {
	transform: rotate(90deg);
	margin-bottom: 180px;
}

.mt-30 {
	margin-top: 30px;
}
